body{
    background-color:rgb(59, 193, 200);
    height:100vh;
}

img{
    width:400px;
    height:400px;
    margin-top:25px;
    border:10px #43a8c9 solid;
}

.div-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}


