body{
    background-color:rgb(163, 217, 233);
    height:100vh;
}

img{
    width:365px;
    height:365px;
    margin-top:15px;
    border:7px rgb(97, 177, 199) solid;
    border-radius: 45px;

}

img:hover{
    opacity:0.6 ;
}


.div-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}


h1{
    text-align: center;
    font-size: 60px;
    font-style: oblique;
    color:rgb(97, 177, 199);
}

